:root {
  --color-black: #151515;
  --color-white: #edebeb;
  --color-green: #1b9c85;
  --color-blue: #007bff;
  --color-yelow: #f2c14e;
  --color-red: #e71d36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}